<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.codewithsrv.drpetvet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo1"
        android:supportsRtl="true"
        android:theme="@style/Theme.DrPetVet"
        tools:targetApi="31">
        <activity
            android:name=".UserMakePayment"
            android:exported="false" />
        <activity
            android:name=".AdvanceSolution"
            android:exported="false" />
        <activity
            android:name=".PetProfile"
            android:exported="false" />
        <activity
            android:name=".DoctorList"
            android:exported="false" />
        <activity
            android:name=".UserProblemSol"
            android:exported="false" />
        <activity
            android:name=".UserComplaintReg"
            android:exported="false" />
        <activity
            android:name=".DoctorProfile"
            android:exported="false" />
        <activity
            android:name=".Payment"
            android:exported="false" />
        <activity
            android:name=".ProblemSol"
            android:exported="false" />
        <activity
            android:name=".Complaint"
            android:exported="false" />
        <activity
            android:name=".DoctorDashboard"
            android:exported="false" />
        <activity
            android:name=".UserDashboard"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Signup"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>